<div class="bg-gray-100">
 TBA- carousel
</div>

<div>
  <h2>New Arrivals</h2>
  
  <%= @products.each do |product| %>
    <div>
      <a href="products/<%= product.id %>">
        <%= product.name %>
      </a>
      <%= product.price %>
    </div>
  <% end %>
</div>

<div>
  <h2>Viewing History</h2>
</div>