<div class="grid grid-cols-5">
  <%= @products.each do |product| %>
    <div>
      <a href="products/<%= product.id %>">
        <%= product.name %>
      </a>
      <%= product.price %>
    </div>
  <% end %>
</div>